@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.robotoCondensed{
  font-family: "Roboto Condensed", sans-serif;
}

/* animated bottom */

.path-0 {
  animation: pathAnim0 8s linear infinite alternate;
}
.path-1 {
  animation: pathAnim1 8s linear infinite alternate;
}

@keyframes pathAnim0 {
  0%, 100% {
    d: path("M 0,600 L 0,300 C 121.1,351.7 242.2,403.5 330,362 C 417.7,320.5 472.1,185.8 557,162 C 641.9,138.1 757.3,225.2 853,224 C 948.6,222.7 1024.4,133 1119,81 C 1213.5,28.9 1326.7,14.4 1440,0 L 1440,600 L 0,600 Z");
  }
  50% {
    d: path("M 0,600 L 0,300 C 78,298.6 156,297.2 253,288 C 349.9,278.7 465.6,261.5 570,251 C 674.3,240.4 767.2,236.4 868,191 C 968.7,145.5 1077.3,58.7 1174,20 C 1270.6,-18.7 1355.3,-9.3 1440,0 L 1440,600 L 0,600 Z");
  }
}

@keyframes pathAnim1 {
  0%, 100% {
    d: path("M 0,600 L 0,500 C 74.4,466.4 148.9,432.8 247,429 C 345,425.1 466.6,451.1 573,428 C 679.3,404.8 770.4,332.4 860,310 C 949.5,287.5 1037.5,315 1134,305 C 1230.4,294.9 1335.2,247.4 1440,200 L 1440,600 L 0,600 Z");
  }
  50% {
    d: path("M 0,600 L 0,500 C 106.8,473.3 213.6,446.6 300,430 C 386.3,413.3 452.3,406.6 555,388 C 657.6,369.3 796.8,338.8 896,338 C 995.1,337.1 1054,366 1138,348 C 1221.9,329.9 1330.9,264.9 1440,200 L 1440,600 L 0,600 Z");
  }
}
